node_modules/
.pnp.*
dist/
*.log
.DS_Store
/tmp/
.metro-cache/
native/dist/
*.tgz
/release/
# Platform runtime artifacts written by scripts/release-host.ts --pack
packages/runtime-*/osx-bin/
packages/runtime-*/linux64-bin/
packages/runtime-*/win64-bin/
packages/runtime-*/host-version.json
